<div class="container-text ">
  <div class="row">
    <div class="col-md-0"></div>
    <div class="col-md-12">
      <div class="image_textbook_student">
       <%= attachment_image_tag @textbook_student.textbook, :image, size: "800x600"%>
       </div>
    </div>
  </div>
</div>