  <% if student_signed_in? %>
    <div class="contents">
      <div class="itemleft">
        <%= link_to students_lessons_path do %>
          <i class="fas fa-pen size"></i><p class="size">授業一覧</p>

        <% end %>
      </div>
      <div class="itemright">
        <%= link_to students_textbooks_path do %>
         <i class="fas fa-book-open size"></i><p class="size">教材一覧</p>

        <% end %>
       </div>
    </div>

  <% else %>
  <body >
    <div class="top">
      <p class="image">
        <%= image_tag 'study.jpg', size: "700x500", class:"image-top" %>
      </p>
      <p class="size-top"><i class="fas fa-school size-top"></i>
        ようこそwin-winへ<br>
        ログインして学習を進めよう
      </p>
      <p class="text">
        <%= link_to "Log in", new_student_session_path, class:"fas fa-sign-in-alt"%>
      </p>

    </div>

  </body>
  <% end %>