  <% if student_signed_in? %>
    <div class="box-1">
      <p class="display-1">
        <%= link_to "授業一覧", students_lessons_path  ,class:"btn btn-primary "%>
        <%= link_to "教材一覧", students_textbooks_path, class:"btn btn-primary" %>
        </p>
    </div>
  <% else %>
  <div class="box-1">
    <p class="display-1">
      ようこそWIN-WINへ<br>
      ログインして学習を始めよう！！
    </p>

    <div class="d-grid gap-2">
      <p class="text">
        <%= link_to "ログインする", new_student_session_path,class:"btn btn-primary ", class:"display-1"%>
      </p>
    </div>
  </div>
  <% end %>