  <% if student_signed_in? %>
    <div class="contents">
      <div class="itemleft">
        <%= link_to "授業一覧", students_lessons_path, class:"fas fa-pen size" %>
      </div>
      <div class="itemright">
        <%= link_to "教材一覧", students_textbooks_path, class:"fas fa-book-open size"%>
       </div>
    </div>

  <% else %>
  <body>
    <div class="top">
      <p class="fas fa-school size-top">
        ようこそwin-winへ<br>
        ログインして学習を進めよう
      </p>
      <p class="text">
        <%= link_to "Log in", new_student_session_path, class:"fas fa-sign-in-alt"%>
      </p>
      <p>
        <img src="/assets/images/carender.jpg",  size="300x300" >
      </p>
    </div>

  </body>
  <% end %>