
<div class="contents">
      <div class="item1">
        <p class="text">
        <%= link_to "生徒一覧", teachers_students_path %>
        </p>
      </div>
      <div class="item2">
        <p class="text">
        <%= link_to "授業一覧", teachers_lessons_path %>
        </p>
       </div>
    </div>