    <div class="contents">
      <div class="itemleft">
        <%= link_to "生徒一覧", teachers_students_path,class:"fas fa-users size" %>
      </div>
      <div class="itemright">
        <%= link_to "授業一覧", teachers_lessons_path, class:"fas fa-pen size"%>
       </div>
    </div>