
<div class="contents">
      <div class="item1">
        <%= link_to "生徒一覧", teachers_students_path %>
      </div>
      <div class="item2">
        <%= link_to "授業一覧", teachers_lessons_path %>
       </div>
    </div>